<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trip-PLanner">
    <meta name="author" content="Ian and Partner, LTD">

    <title>Trip-Planner</title>


    <link rel="stylesheet" href="normalize.css">
    <link href="/stylesheets/planner.css" rel="stylesheet">

  </head>

  <body>
    <nav class="nav-bar" role="navigation">
      <div class="nav-title">
        <span>Planner</span>
      </div>
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/about">About</a>
      </div>
      <div class="nav-button">
        <a href="/Contact">Contact</a>
      </div>
    </nav>  

    {% block body %}{% endblock %}



  </body>
</html>  

