{% extends 'layout.html' %}
 
{% block body %}

	<div class="col-lg-9" id="map">
		<!-- Taken straight out of the contact page from the pervious project: -->
		<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
	</div>
	<div class="col-lg-3">
		<div class="do-list">
			<lable for="choice1">Hotels</lable>
			<select name="choice-hotel">
				<option selected>Plan 1
				<option>Plan 2
				<option>Plan 3
				<option>Plan 4
				<option>Plan 5
			</select>
			<button type="submit" class="btn btn-choice btn-plus">+</button>
			<lable for="choice2">Restaurants</lable>
			<select name="choice-restaurant">
				<option selected>Plan 1
				<option>Plan 2
				<option>Plan 3
				<option>Plan 4
				<option>Plan 5
			</select>
			<button type="submit" class="btn btn-choice btn-plus">+</button>
			<lable for="choice3">Things To Do</lable>
			<select name="choice-do">
				<option selected>Plan 1
				<option>Plan 2
				<option>Plan 3
				<option>Plan 4
				<option>Plan 5
			</select>
			<button type="submit" class="btn btn-choice btn-plus">+</button>		
		</div>
		<div class="day">
			<p>Day #</p>
			<button type="submit" class="btn btn-x">X</button>
		</div>
		<div class="day-list">
			<div class="list-banner">
				<button type="submit" class="btn btn-plus">+</button>
			</div>
			<div class="list">
				<ol class= "list-content">
					<li>
						<p>My Hotel</p>
						<div class="entry entry-hotel">
							<p class="entry-item">Andaz Whatever<p>
							<button type="submit" class="btn btn-x">X</button>
						</div>
					</li>
					<li>
						<p>My Restaurants</p>
						<div class="entry entry-restaurant">
							<p class="entry-item">Bouley Whatever<p>
							<button type="submit" class="btn btn-x">X</button>
						</div>
					</li>
					<li>
						<p>My Things To Do</p>
						<div class="entry entry-do">
							<p class="entry-item">Mahayana Whatever<p>
							<button type="submit" class="btn btn-x">X</button>
							<p class="entry-item">South Whatever<p>
							<button type="submit" class="btn btn-x">X</button>
							<p class="entry-item">Association Whatever<p>
							<button type="submit" class="btn btn-x">X</button>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
{% endblock %}	