{% extends 'layout.html' %}
 
{% block body %}

	<div class="col-lg-9" id="map">
		<!-- Taken straight out of the contact page from the pervious project: -->
		<iframe width="100%" height="1000px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
	</div>
	<div class="col-lg-3">
		<div class="do-list">
			<label for="choice1">Hotels</label>
			<select name="choice-hotel">
				<option selected>Plan 1</option>
				<option>Plan 2</option>
				<option>Plan 3</option>
				<option>Plan 4</option>
				<option>Plan 5</option>
			</select>
			<button type="submit" class="btn btn-choice btn-plus">+</button>
			<label for="choice2">Restaurants</label>
			<select name="choice-restaurant">
				<option selected>Plan 1</option>
				<option>Plan 2</option>
				<option>Plan 3</option>
				<option>Plan 4</option>
				<option>Plan 5</option>
			</select>
			<button type="submit" class="btn btn-choice btn-plus">+</button>
			<label for="choice3">Things To Do</label>
			<select name="choice-do">
				<option selected>Plan 1</option>
				<option>Plan 2</option>
				<option>Plan 3</option>
				<option>Plan 4</option>
				<option>Plan 5</option>
			</select>
			<button type="submit" class="btn btn-choice btn-plus">+</button>		
		</div>
		<div class="day">
			<p>Day 2 </p>
			<button type="submit" class="btn btn-x">X</button>
		</div>
		<div class="day-list">
			<div class="list-banner">
				<ol>
					<li>
						<button type="submit" class="btn btn-plus">1</button>
					</li>
					<li>
						<button type="submit" id="current" class=" btn btn-plus">2</button>
					</li>
					<li>
						<button type="submit" class="btn btn-plus">+</button>
					</li>
				</ol>		
			</div>
			<div class="list">
				<ol class= "list-content">
					<li>
						<label>My Hotel</label>
						<div class="entry entry-hotel">
							<p class="entry-item">Andaz Whatever</p>
							<button type="submit" class="btn btn-x">X</button>
						</div>
					</li>
					<li>
						<label>My Restaurants</label>
						<div class="entry entry-restaurant">
							<p class="entry-item">Bouley Whatever</p>
							<button type="submit" class="btn btn-x">X</button>
						</div>
					</li>
					<li>
						<label>My Things To Do</label>
						<div class="entry entry-do">
							<p class="entry-item">Mahayana Whatever</p>
							<button type="submit" class="btn btn-x">X</button>
							<p class="entry-item">South Whatever</p>
							<button type="submit" class="btn btn-x">X</button>
							<p class="entry-item">Association Whatever</p>
							<button type="submit" class="btn btn-x">X</button>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
{% endblock %}	